//Google Font

$custom-font-family: 'Permanent Marker', cursive;
$blue: #447684;

.custom-font{
    font-family: $custom-font-family;
}

$sans-font-family: 'Open Sans', sans-serif;;

.sans-font{
    font-family: $sans-font-family;
}
//These position classes below were causing the issue. You should need these classes to get the section put together
.wrapping{
    //position:relative;
}
.text {
    left: 0;
    //position:absolute;
    text-align:center;
    top: 30px;
    width: 100%
}
.white{
    color: #FFFFFF;
}
//Added Bleed background with color scheme
.bleed{
	background-color: white;
}
.darkish{
    background-color: #000218;
}
//This is how we pad sections
.roomy{
	padding:2em 0em;
}

.less-roomy{
    padding:15px 0em;
}

.center{
    text-align: center;
}

.valign {
    vertical-align: middle;
}

.icon-align{
    padding-top: 80px;
}
.bgimg {
    background-image: url("https://c2.staticflickr.com/8/7498/16141659459_3d8123fd17_k.jpg");
    background-attachment: fixed;
}

.transparent{
    background-color: transparent;
}

.opaque-layer{
    background-color: rgba(0, 0, 0, .6);
}

$contact-panel-bg: $black;
$contact-panel-height: 375px;
$contact-panel-width: 350px;
$contact-panel-right-offset: 20px;
$contact-panel-button-arrow: ⥣;

.contact-panel-button {
  background: $contact-panel-bg;
  color: $white;
  width: auto;
  padding: 0.25rem 1.25rem;
  text-align: center;
  position: absolute;
  top: -30px;
  right: 20px;
  transition: background 0.25s ease-in-out;

  &:after {
    content: "⥣";
    margin-left: 5px;
  }

  &:hover {
    background: lighten($contact-panel-bg, 10%);
    color: lighten($contact-panel-bg, 90%);
  }
}

.is-active .contact-panel-button:after {
  content: "⥥";
}

.contact-panel {
  padding: 1rem;
  z-index: 1;
  background: $contact-panel-bg;
  width: $contact-panel-width;
  height: $contact-panel-height;
  position: fixed;
  bottom: -$contact-panel-height;
  right: $contact-panel-right-offset;
  transition: bottom 0.5s ease-in-out;

  label {
    color: $white;
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background: lighten($contact-panel-bg, 15%);
    border: $contact-panel-bg;
    transition: background 0.3s ease-in-out;

    &:focus {
      background: $white;
    }
  }

  .contact-panel-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .submit-button {
    margin-bottom: 0;
  }

  .cancel-button {
    margin-bottom: 0;
    padding: 0.75rem 1rem;
    color: $white;
    transition: background 0.25s ease-in-out;

    &:hover {
      background: lighten($contact-panel-bg, 10%);
      color: lighten($contact-panel-bg, 90%);
    }
  }

  &.is-active {
    bottom: 0;
  }

  @include breakpoint(small only) {
    width: 100%;
    right: 0;
  }
}

